.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


@media screen and (max-width: 480px) {
    .title {
        font-size: 20px;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}